body {
    background-color: #DADCD9;
    
}
/*Section1 */ 

#JEIV{
    border: 0px solid red; 
    width: 200vh;  
    height: auto;

}

/* Menu Bar setup */


    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: 0px solid black;
        position: fixed;
        top:0; z-index: 1;
        width: 97.5%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: Helvetica;
        font-size: 14px;
    }

    li {
    margin: 20px;
    }

/* Main center Logo */
.parent {
    border: 0px solid black;
    margin: 0rem;
    padding: 0rem 0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    display: flex;
    border: 1;
    padding-top: 4rem;
    width: 100%;
    height: 60vh;
    

  }
  .child {
    display: inline-block;
    border: 0px solid red;
    padding: 0rem 0rem;
    padding-top: x;
    vertical-align: middle;
    font-weight: 700;
    font-size: 5.8rem;
    
    
  }


      /* logo Charachter */
        .Clogo {
            text-decoration: line-through;
            text-align: center;
            justify-content: center;
            font-size: 120px;
            letter-spacing: 15px;
            
        }

        /* side panel */
        .SidePanel {
            font-family: Helvetica;
            font-size: .875rem;
            justify-content: center;
            font-weight: 800;
            padding-top: 15px;
            transform: rotate(-90deg);
            position: fixed;
            right: -48px;
            top: 50%;
            font-weight: 700;
            z-index: 9;

    
            }

/* Center Moto */

.Cmoto {
    text-align: center;
    justify-content: center;
    width: 0 auto;
    height: auto;
    align-items: center;
    margin: 0rem;
    padding-bottom: 100px;
    margin: 0;
    border: 0px solid black;
    top: 40%;
  




}
.Cm {
margin: 0px;
font-family: Helvetica, Arial, sans-serif;
font-size: 24px; 
text-transform: uppercase;
border: 0px solid black;
font-weight: lighter;
}

/* scroll downn menue */
.scroll {
    border: 0px solid black;
    width: 0 auto;
    padding-top: 65px;
    padding-left: 20px;
    margin-bottom: 0rem;
    position: fixed; bottom: 0px;
    z-index: 9;
    

}


/* SECTION 2 */

.PAGE2 {
 
}
    .Tittle {
        border: px solid black;
        margin-top: 5rem;
        left: 100px;
        padding-left: 20px;
        padding-top: 20px;
        margin: 10px;
    
    }

    .CardContainer {
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        
    
     }

.CardContainer .card {
    max-width: 450px;
    background-color: white;
    display: flex;
    margin: 10px;
}

.CardContainer .card .ImgBox {
    max-width: 150px;
    padding: 10px;
    flex: 0 0 150px
}

.cardimage {
width: 100%;
height: 100px;
}

/* Section 3 "about" */
.Tittle {
    border: px solid black;
    margin-top: 5rem;
    left: 100px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 10px;



    
